.contact-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.contact-main img {
    max-width: 20vw;
}

.contact-secondary {
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info{
    background: blue;
    color: white;
    width: 60%;
    text-align: center;
}